body {
    background-color:hsl(275, 100%, 97%);
    background: url(/assets/images/background-pattern-desktop.svg) no-repeat hsl(275, 100%, 97%) ;
    background-size:auto 600px;
    
}
.accordion{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: 400px auto;
    padding: 20px;
    font-family: "Work Sans", sans-serif;
}
.star{
    margin: 0px 10px 0px 0px;
}

.accordion .container {
    position: relative;
    margin: 10px 10px;
}
.accordion .label {
    position: relative;
    padding: 10px 0;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.accordion .content {
    position: relative;
    height: 0;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s;
}
.accordion .label::after {
    content: url(/assets/images/icon-plus.svg); /* Unicode character for "plus" sign (+) */
    float: right;    
}
.accordion .container.active .label::after {
    content: url(assets/images/icon-minus.svg);
  }
.accordion .container.active .content {
    height: 100px;
  }